#header {
    height: 80px;
    background: transparent;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo {
    display: block;

}

#navbar {
    padding: 0px;
}

#navbar ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li {
    position: relative;
    padding: 6px 10px;
}

#navbar li a {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
}