body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.note-form-container {
    margin-bottom: 20px;
}

.textarea-container {
    position: relative;
}

.note-textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.color-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, border 0.2s ease;
    border: 2px solid transparent;
}

.color-circle.selected {
    border: 2px solid #333;
}

.color-circle:hover {
    transform: scale(1.1);
}

.add-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #00bcd4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-button:hover {
    background-color: #008c9e;
}

.note-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #333;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.delete-button:hover {
    background-color: #d93636;
}