* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

p {
    color: #666;
}

a {
    text-decoration: none;
    color: #cec6c6;
}

ul, ol {
    list-style: none;
}

/* navbar  */
.navhead .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: #333;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navdiv {
    display: flex;
    justify-content: center;
}

.navhead .navbar ul {
    display: flex;
    position: absolute;
    right: 50px;
}

.navhead .navbar ul li {
    margin: 0px 10px;
}

/* logo  */
.navhead .navbar .logo {
    position: absolute;
    left: 35px;
}

/* content h1  */
.contenth1 {
    max-width: 50%;
    margin: 30px 0px 15px 0px;
    padding: 5px;
    background-color: rgba(158, 154, 154, 0.2);
    border: 2px solid rgb(199, 192, 192);
    border-radius: 5px;
}

/* grid card for homepage  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* grid card for post page  */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* post container for home page  */
.grid-item {
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px 8px 10px #afaeae;
}

.grid-item .post-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* post image  */
.grid-item header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* post container baslik  */
.grid-item .post-body a {
    margin: 10px 0px;
    color: #333;
    background-color: rgba(53, 48, 48, 0.2);
    border-radius: 5px;
}

/* post container article  */
.grid-item .post-body article {
    margin: 10px 0px;
}

/* foot  */
footer {
    background-color: #333;
    color: #cec6c6;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}
